/* ---------------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  font-size: 62.5%;
  /* text-rendering: optimizeLegibility; */
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
  font-size: 1.6rem;
}

/* ---------------------------------------------------- */
/* BUTTONS */
/* ---------------------------------------------------- */

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; 
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem #000; 
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem #000; 
}

.btn-white {
  background-color: #fff;
  color: #777; 
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; 
}

.btn-white::after {
  background-color: #fff; 
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; 
}

.btn-animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; 
}

/* ---------------------------------------------------- */
/* HEADER */
/* ---------------------------------------------------- */

header {
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.header-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; 
}

.logo {
  height: 15rem;
  border-radius: 49.9%;
  margin: 3rem 0;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; 
}

.heading-primary-main {
  display: block;
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 1rem;
  animation: moveInLeft 1s ease-out; 
}

.heading-primary-sub {
  display: block;
  font-size: 2rem;
  font-weight: 70rem;
  letter-spacing: 3rem;
  animation: moveInRight 1s ease-out; 
}

/* ---------------------------------------------------- */
/* MAIN NAV */
/* ---------------------------------------------------- */

.main-nav {
  background-color: #000;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 60px;
}

.main-nav li {
  display: inline-block;
  margin-left: 4rem;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 0.8rem 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  border-bottom: 0.2rem solid transparent;
  transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 0.2rem solid #fff;
}

/* ---------------------------------------------------- */
/* STICKY NAV */
/* ---------------------------------------------------- */

section {
  padding-top: 7rem;
}

.sticky {
  position: sticky;
  top: 0;
  margin-bottom: 4rem;
  /* left: 0; */
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
}

/* ---------------------------------------------------- */
/* BODY */
/* ---------------------------------------------------- */

.the-wrapper {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.body-div {
  /* width: 70rem; */
  display: flex;
  flex-direction: column;
  
  align-items: center;
}


.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 80rem;
}

.photo {
  /* height: 30rem; */
  width: 100%;
}

.heading {
  margin: 2rem;
}

.project-nav {
  list-style: none;
}

.project-nav li {
  display: inline-block;
}

.project-nav li a:link,
.project-nav li a:visited {
  text-decoration: none;
  color: black;
  /* text-transform: uppercase; */
  border-bottom: 0.2rem solid transparent;
  transition: border-bottom 0.5s;
}

.project-nav li a:hover,
.project-nav li a:active {
  border-bottom: 0.2rem solid #000;
}

.social-wrapper {
  margin-bottom: 3rem;
}

.social-links a {
  font-size: 4rem;
  margin: 0 2rem;
}

#resume:link,
#resume:visited {
  text-decoration: none;
  color: #000;
  margin-bottom: 2rem;
  border-bottom: 0.2rem solid transparent;
  transition: border-bottom 0.5s;
}

#resume:hover,
#resume:active {
  border-bottom: 0.2rem solid #000;
}

.footer-nav li {
  display: inline-block;
  list-style: none;
  margin-top: 5rem;
}

.footer-nav li a:link,
.footer-nav li a:visited {
  font-size: 4rem;
  margin: 0 2rem;
  text-decoration: none;
  color: #000;
  
  border-bottom: 0.2rem solid transparent;
  transition: border-bottom 0.5s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  border-bottom: 0.2rem solid #000;
}

/* ---------------------------------------------------- */
/* FOOTER */
/* ---------------------------------------------------- */

.footer {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  padding: 2rem 0;
  width: 100%;
  bottom: 0;
  margin-top: 8rem;
}

footer p {
  margin: 0;
}

.copyright {
  color: #fff;
}


/* ---------------------------------------------------- */
/* ANIMATIONS */
/* ---------------------------------------------------- */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); 
  }
  80% {
    transform: translateX(1rem); 
  }
  100% {
    opacity: 1;
    transform: translate(0); 
  } 
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); 
  }
  80% {
    transform: translateX(-1rem); 
  }
  100% {
    opacity: 1;
    transform: translate(0); 
  } 
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); 
  }
  100% {
    opacity: 1;
    transform: translate(0); 
  } 
}

/* ---------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------------------- */

/* .row {
  display: flex;
  flex-direction: row;
  width: 1140px;
} */

.col {
  width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: #000;
  margin: 20px 0;
  border-bottom: 0.2rem solid #000;
}

h3 {
  margin: 80px 0 30px 0;
}

h5 {
  margin-top: 4rem;
}

hr {
  width: 100%;
  margin: 40px 0;
}

p {
  margin: 40px 0 0 0;
}

.creators {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.creators img {
  height: 4rem;
  border-radius: 49.9%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}